*~
.#*
version.c
.*.o.dep
.*.h.dep
*.o
/libopenconnect.la
/libopenconnect-wrapper.la
/*.lo
/.libs/
/cscope.*

/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing

/.deps/
/config.log
/config.status
/libopenconnect.map
/libtool
/openconnect.8
/openconnect.pc

openconnect
nm-openconnect-auth-dialog
Make.config
Makefile.in
Makefile
/po/Makefile.in.in
/po/*.gmo
/po/*.mo
/po/POTFILES
/po/.intltool-merge-cache
/po/stamp-it
/po/openconnect.pot

/android/*.tar.gz
/android/*.tar.bz2
/android/*.tar.xz
/android/sources/
/android/arm-linux-androideabi/
/android/i686-linux-android/
/android/mipsel-linux-android/
/android/sysroot-*/

/java/build/
/java/dist/

/www/*.html
/www/openconnect.8.inc

test-driver
tests/*.log
tests/*.trs
