*~
.#*
version.c
.*.o.dep
.*.h.dep
*.o
/libopenconnect.la
/*.lo
/.libs/

/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing

/.deps/
/config.log
/config.status
/libopenconnect.map
/libtool
/openconnect.8
/openconnect.pc

openconnect
nm-openconnect-auth-dialog
Make.config
Makefile.in
Makefile
/po/Makefile.in.in
/po/*.gmo
/po/*.mo
/po/POTFILES
/po/.intltool-merge-cache
/po/stamp-it
/po/openconnect.pot
